body {
    background: black;
    margin: 0;
    padding: 0;
    color: #DDD;
    text-align: center;
    padding-bottom: 20px;
}


#container {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 160;
}

#sphere, #flights, #glow-shadows, #locations, #drag {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 400px;
}

#glow-shadows {
    top: 1px;
    left: 1px;
}

#glow-shadows.earth {
    background: url(../images/earth-glow-shadows.png);
}

#glow-shadows.mars {
    background: url(../images/mars-glow-shadows.png);
}

.location {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    top: 10px;
    border: 2px solid white;
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    display: none;
}


.flight {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 10px;
    top: 10px;
    background: url(../images/plain.png);
    background-size: 100% 100%;
    margin-left: -12px;
    margin-top: -12.5px;
    cursor: pointer;
    display:none;
}

.choose_example {
    width: 35%;
    margin-left: 32.5%;
}


#carousel img {
    width: auto;
    height: 100%;
}
#carousel {
    margin: 0 auto;
    width: 650px;
    position: relative;
    top: -450px;
}
.locations {
    display: none !important;
}
#flights {
    display: none !important;
}